{% liquid
  assign has_shipping_slider = false
  if settings.show_shipping
    assign has_shipping_slider = true
  endif

  assign has_cart_popular_products = false
  if settings.show_cart_recommended_products and settings.cart_recommended_products != blank
    assign has_cart_popular_products = true
  endif
%}

{%- if has_shipping_slider or has_cart_popular_products -%}
  <div class="cart-improvements{% if cart == empty %} is-empty{% endif %}">
    {%- if has_shipping_slider -%}
      <div
        class="cart-shipping{% if cart == empty %} is-empty{% endif %}"
        data-min-spend="{{ settings.min_spend | times: 100.0 }}"
        data-total="{{ cart.total_price }}"
        data-message=" {{ settings.message_shipping }}"
        data-cart-is-empty="{{ cart.empty? }}"
        data-show-in-empty-drawer="{{ settings.enable_shipping_in_empty_drawer }}"
        data-show-in-empty-cart="{{ settings.enable_shipping_in_empty_cart }}"
      >
        <p class="cart-shipping__message cart-shipping__message_default body-small active"></p>
        <p class="cart-shipping__message cart-shipping__message_success body-small">
          {{- settings.message_shipping_free -}}
        </p>
        <span class="cart-shipping__progress">
          <span class="cart-shipping__progress-current"></span>
        </span>
      </div>
    {%- endif -%}

    {%- if has_cart_popular_products -%}
      <cart-popular-products-slider
        class="cart-popular-products-slider"
        data-cart-is-empty="{{ cart.empty? }}"
        data-show-in-empty-drawer="{{ settings.enable_recommend_in_empty_drawer }}"
        data-show-in-empty-cart="{{ settings.enable_recommend_in_empty_cart }}"
        tabindex="-1"
      >
        {%- if settings.cart_recommended_products.count > 1 and cart.empty? == false -%}
          <button class="cart-popular-products-slider__button cart-popular-products-slider__button--prev">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 4L7 10L13 16" stroke="currentColor" stroke-width="1.4"/>
            </svg>
          </button>
        {%- endif -%}

        {% if cart.empty? and settings.recommend_label_empty_cart != blank %}
          <span class="cart-popular-products-slider__empty-label">
            {{- settings.recommend_label_empty_cart -}}
          </span>
        {% endif %}

        <div class="cart-popular-products-slider__window{% if cart.empty? == false %} swiper{% endif %}">
          <div class="cart-popular-products-slider__wrapper{% if cart.empty? == false %} swiper-wrapper{% endif %}">
            {% for popular_product in settings.cart_recommended_products %}
              <div class="cart-popular-products-slider__slide{% if cart.empty? == false %} swiper-slide{% endif %}">
                <div class="cart-popular-products-slider__slide-details">
                  {%- if popular_product.featured_image != blank- %}
                    <div class="cart-popular-products-slider__slide-image">
                      <a
                        class="full-unstyled-link cart-popular-products-slider__slide-link focus-inset"
                        href="{{ popular_product.url }}"
                        aria-label="{{- 'accessibility.product_link' | t -}}"
                      >
                      </a>
                      {% liquid
                        assign settings_aspect_ratio = 1

                        assign calc_ratio = 1
                        if popular_product.featured_image.aspect_ratio > settings_aspect_ratio
                          assign calc_ratio = popular_product.featured_image.aspect_ratio | divided_by: settings_aspect_ratio | round: 2
                        endif
                      %}
                      {%- capture sizes -%}
                        (min-width: 750px) calc({{ calc_ratio }} * 72px), calc({{ calc_ratio }} * 48px)
                      {%- endcapture -%}
                      {{
                        popular_product.featured_image
                        | image_url: width: 216
                        | image_tag: loading: 'lazy', widths: '48, 72, 96, 144, 216', sizes: sizes
                      }}
                    </div>
                  {%- endif -%}
                  <div class="cart-popular-products-slider__slide-info">
                    <a
                      class="full-unstyled-link cart-popular-products-slider__slide-title focus-inset"
                      href="{{ popular_product.url }}"
                    >
                      {{- popular_product.title | escape -}}
                    </a>
                    {% render 'price', product: popular_product, price_class: '' %}
                  </div>
                </div>
                <product-form class="card__add-to-cart cart-popular-products-slider__slide-button">
                  {%- assign product_form_id = 'cart-quick-' | append: popular_product.id -%}
                  {%- form 'product',
                    popular_product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ popular_product.selected_or_first_available_variant.id }}"
                      disabled
                    >
                    <button
                      class="button button--primary focus-inset"
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ popular_product.id }}"
                      aria-live="polite"
                      data-sold-out-message="true"
                      {% if popular_product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                      aria-label="{{- 'general.card.quick__add' | t -}}"
                    >
                      <div class="button__content">
                        <span
                          class="recom-pr-add-to-cart button__label"
                          data-label="{{ 'products.product.add_to_cart' | t }}"
                        >
                          {{- 'products.product.add_to_cart' | t -}}
                        </span>
                        <span class="recom-pr-add-to-cart-mobile">
                          {% render 'icon-quick-add' %}
                        </span>
                        <span class="sold-out-message hidden button__label">
                          {{ 'products.product.sold_out' | t }}
                        </span>
                      </div>

                      <span class="animated-button-circle"></span>

                      <div class="loading-overlay__spinner hidden cart-popular-products-slider__slide-spinner">
                        {% render 'icon-loading' %}
                      </div>
                    </button>
                  {%- endform -%}
                </product-form>
              </div>
            {% endfor %}
          </div>
        </div>

        {%- if settings.cart_recommended_products.count > 1 and cart.empty? == false -%}
          <button class="cart-popular-products-slider__button cart-popular-products-slider__button--next">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 4L13 10L7 16" stroke="currentColor" stroke-width="1.4"/>
            </svg>
          </button>
        {%- endif -%}

        {%- if settings.cart_recommended_products.count > 1 and cart.empty? == false -%}
          <div class="cart-popular-products-slider__pagination swiper-pagination"></div>
        {%- endif -%}
      </cart-popular-products-slider>
    {%- endif -%}
  </div>
{%- endif -%}
