{% comment %}
  Renders section text
  Accepts:
  section: {Object} Section
  class: {String} Class (optional)
  text_align: {String} Text align (optional)
  Usage:
  {% render 'heading-group', section: section, class: '' %}
{% endcomment %}

{%- if section.settings.subheading != blank or section.settings.heading != blank -%}
  <div class="{% if class %}{{ class }}__titles{% endif %} titles{% if section.settings.heading == blank and section.settings.description == blank %} titles_margin-medium{% endif %}{% if text_align %} titles--{{ text_align }}{% endif %}">
    {%- if section.settings.subheading != blank -%}
      <div class="{% if class %}{{ class }}__subtitle{% endif %} subtitle">
        {{- section.settings.subheading -}}
      </div>
    {% endif %}
    {%- if section.settings.heading != blank -%}
      {% assign heading_tag = section.settings.heading_tag %}
      <{{ heading_tag }} class="{% if class %}{{ class }}__title{% endif %} title {{ section.settings.heading_size }} size--{{- section.settings.heading_size -}}">
        {{- section.settings.heading -}}
      </{{ heading_tag }}>
    {% endif %}
  </div>
{% endif %}
{%- if section.settings.description != blank -%}
  <div class="{% if class %}{{ class }}__description{% endif %} description {% if text_align %} description--{{ text_align }} {% endif %}">
    {{- section.settings.description -}}
  </div>
{% endif %}
