<input type="hidden" value="{{ next_url }}" data-next-url>
<input type="hidden" value="{{ count_pages }}" data-total-pages>
<input type="hidden" value="{{ current_page }}" data-current-page>
<div class="button-wrapper no-js-hidden">
  <button class="button button--load-more button--{{- settings.button_style }} js-load-more focus-inset">
    <div class="button__content">
      <span class="button__label" data-label="{{ 'products.load_more.label' | t }}">
        {{- 'products.load_more.label' | t -}}
      </span>
    </div>
    <div class="button__loader">
      {%- render 'icon-loading' -%}
    </div>
  </button>
</div>
