{% doc %}
  Renders a popup on the product page.

  @param {string} block_id - Block ID
  @param {string} popup_label - Label for modal opener button
  @param {string} [block_attributes] - Render shopify_attributes
  @param {string} [popup_color_scheme] - Color scheme modal window
  @param {string} [popup_content_heading] - Heading for modal window
  @param {string} [popup_content_text] - Text for modal window
  @param {string} [popup_page_content] - Custom page content for modal window
  @param {string} [class] - Custom CSS class

  @example
  {% render 'product-block-popup', block_id: block.id, popup_label: block.settings.button_label %}
{% enddoc %}

{% liquid
  assign modal_heading = popup_content_heading | default: popup_label
  assign popup_scheme = popup_color_scheme | default: 'background-1'
%}

{%- if popup_label != blank -%}
  <div
    class="product-popup no-js-hidden"
    {% if block_attributes != blank -%}
      {{ block_attributes }}
    {%- endif %}
  >
    <modal-opener data-modal="#ProductModal-{{ block_id }}">
      <button
        id="ProductModalOpener-{{ block_id }}"
        class="product-popup__button button button--tertiary focus-inset"
        type="button"
        aria-haspopup="dialog"
      >
        <div class="button__content">
          <span class="button__label" data-label="{{- popup_label -}}">
            {{- popup_label -}}
          </span>
          <div class="button__icons">
            <span class="button__icon">
              {% render 'icon-button-arrow' %}
            </span>
            <span class="button__icon button__icon--2">
              {% render 'icon-button-arrow' %}
            </span>
          </div>
        </div>
      </button>
    </modal-opener>

    <modal-dialog
      id="ProductModal-{{ block_id }}"
      class="product-popup-modal{% if class != blank %} {{ class }}{% endif %}"
    >
      <div
        role="dialog"
        aria-label="{{ popup_label | escape }}"
        aria-modal="true"
        class="product-popup-modal__content color-{{ popup_scheme }}"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ block_id }}"
          type="button"
          class="product-popup-modal__close modal-close-button focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {{ 'accessibility.close' | t }}
        </button>
        <div class="product-popup-modal__content-info">
          {%- if modal_heading != blank -%}
            <h3 class="product-popup-modal__title h3">{{ modal_heading }}</h3>
          {%- endif -%}

          {%- if popup_content_text != blank -%}
            <div class="product-popup-modal__text rte">
              {{- popup_content_text -}}
            </div>
          {%- endif -%}

          {%- if popup_page_content != blank -%}
            <div class="product-popup-modal__page-wrapper rte{% if settings.rte_type == 'custom' %} rte__container{% endif %}">
              {{ popup_page_content }}
            </div>
          {%- endif -%}

          {%- if popup_content_text == blank and popup_page_content == blank -%}
            <p class="product-popup-modal__text">{{ 'accessibility.no_content' | t }}</p>
          {%- endif -%}
        </div>
      </div>
    </modal-dialog>
  </div>
{%- endif -%}
