<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

{%- if section.settings.enable_search -%}
  {{ 'component-search.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}

{%- for block in section.blocks -%}
  {%- if block.type == 'desktop_burger' -%}
    {{ 'component-desktop-burger.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- if block.type == 'mega_menu' -%}
    {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- endfor -%}

<style>
  @media screen and (min-width: 1100px) {
    header-drawer {
      display: none;
    }
  }

  .burger-menu {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  {% if section.settings.sticky_header_type == "always" %}
    .shopify-section-header {
      position: sticky;
      top: 0;
      background: rgb(var(--color-background));
    }
  {% endif %}

  .header__menu-item,
  .header__heading-link,
  .header__localization,
  .header__localization a,
  .header__localization button,
  .header__cart,
  .header__account-body,
  .menu-drawer__utility-account-body,
  .menu-drawer__menu-item,
  .mobile-mega-menu__tab,
  .mega-menu__menu-list-link {
    font-family: var(--font-header-menu-family);
    font-style: var(--font-header-menu-style);
    font-weight: var(--font-header-menu-weight);
    font-size: calc(var(--font-header-menu-text-scale) * 1rem);
    text-transform: var(--font-header-menu-text-transform);
    letter-spacing: var(--font-header-menu-letter-spacing);
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>

{%- capture wrapper_class -%}
  header-wrapper{% if section.settings.enable_border %} header--border{% endif -%}
{%- endcapture -%}

{%- if section.settings.sticky_header_type != 'none' -%}
  <sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}" class="{{ wrapper_class }}">
{%- else -%}
  <div class="{{ wrapper_class }}">
{%- endif -%}
<header class="header header--{{ section.settings.logo_position }}{% if section.settings.menu != blank %} header--has-menu{% endif %} container">
  {% render 'header-inner' %}
</header>
{%- if section.settings.sticky_header_type != 'none' -%}</sticky-header>{%- else -%}</div>{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.shopify-section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always';
      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.headerCoords = {};
      this.calcHeaderCoords();

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => {
        this.preventReveal = true;
      };

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    calcHeaderCoords() {
      const clientRect = this.getBoundingClientRect();
      const pageYOffset = window.pageYOffset || document.documentElement.scrollTop;
      this.headerCoords.bottom = pageYOffset + clientRect.bottom;
      this.headerCoords.top = pageYOffset + clientRect.top;
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.headerIsAlwaysSticky) {
        if (scrollTop > this.header.offsetHeight + 1) {
          this.header.classList.add('shopify-section-header-sticky');

          if (this.header.classList.contains('color-background-overlay')) {
            this.header.classList.remove('color-background-overlay');
            this.header.classList.add('color-background-overlay-hidden');
          }
        }

        if (scrollTop < this.header.offsetHeight) {
          this.header.classList.remove('shopify-section-header-sticky');

          if (this.header.classList.contains('color-background-overlay-hidden')) {
            this.header.classList.add('color-background-overlay');
            this.header.classList.remove('color-background-overlay-hidden');
          }
        }
      }

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerCoords.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerCoords.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerCoords.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');

      if (this.header.classList.contains('color-background-overlay')) {
        this.header.classList.remove('color-background-overlay');
        this.header.classList.add('color-background-overlay-hidden');
      }
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');

      if (this.header.classList.contains('color-background-overlay-hidden')) {
        const megaMenus = Array.from(document.querySelectorAll('.mega-menu'));
        if (megaMenus.some((megaMenu) => megaMenu.hasAttribute('open'))) return;
        this.header.classList.add('color-background-overlay');
        this.header.classList.remove('color-background-overlay-hidden');
      }
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      if (customElements.get('details-disclosure')) {
        this.disclosures.forEach((disclosure) => {
          disclosure.close();
        });
      }

      this.disclosureLists = this.header.querySelectorAll('.disclosure__list');
      this.disclosureLists.forEach((disclosureList) => {
        disclosureList.setAttribute('hidden', true);
      });
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

<script>
  const calcHeader = () => {
    const header = document.querySelector('.shopify-section-header');
    const headerObserver = new ResizeObserver((entries) => {
      const headerHeight = header.getBoundingClientRect().height.toFixed(2);
      document.documentElement.style.setProperty('--header-height', `${headerHeight}px`);

      document.querySelectorAll('.header__inline-menu .list-menu--submenu').forEach((item) => {
        item.addEventListener('mouseenter', (event) => {
          item.querySelectorAll('.header__submenu .header__submenu').forEach((submenu) => {
            submenu.style.setProperty('--clientY', `${submenu.getBoundingClientRect().top}px`);
          });
        });
      });
    });
    if (header) headerObserver.observe(header);
  };

  calcHeader();

  document.addEventListener('shopify:section:load', calcHeader);
  document.addEventListener('shopify:section:unload', calcHeader);
  document.addEventListener('shopify:section:reorder', calcHeader);
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "shopify-section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo_2",
      "label": "t:sections.header.settings.logo_2.label",
      "info": "t:sections.header.settings.logo_2.info"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left-logo",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "center-logo",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        }
      ],
      "default": "left-logo",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 44,
      "max": 360,
      "step": 4,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "image_picker",
      "id": "secondary_logo",
      "label": "t:sections.header.settings.secondary_logo.label"
    },
    {
      "type": "image_picker",
      "id": "secondary_logo_dark",
      "label": "t:sections.header.settings.secondary_logo_dark.label",
      "info": "t:sections.header.settings.secondary_logo_dark.info"
    },
    {
      "type": "range",
      "id": "secondary_logo_width",
      "min": 44,
      "max": 360,
      "step": 4,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.secondary_logo_width.label"
    },
    {
      "type": "url",
      "id": "secondary_logo_url",
      "label": "t:sections.header.settings.secondary_logo_url.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label",
      "info": "t:sections.header.settings.menu.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info": "t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info": "t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "default": false,
      "label": "t:sections.header.settings.enable_social.label"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "default": true,
      "label": "t:sections.header.settings.enable_search.label"
    },
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "t:sections.header.settings.search_menu.label",
      "info": "t:sections.header.settings.search_menu.info"
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "default": false,
      "label": "t:sections.header.settings.enable_border.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__account.content"
    },
    {
      "type": "checkbox",
      "id": "enable_account_btn",
      "default": true,
      "label": "t:sections.header.settings.enable_account_btn.label"
    },
    {
      "type": "checkbox",
      "id": "enable_account_modal_component",
      "default": true,
      "label": "t:sections.header.settings.enable_account_modal_component.label",
      "info": "t:sections.header.settings.enable_account_modal_component.info",
      "visible_if": "{{ section.settings.enable_account_btn == true }}"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:sections.header.settings.customer_account_menu.label",
      "default": "customer-account-main-menu",
      "visible_if": "{{ section.settings.enable_account_btn and section.settings.enable_account_modal_component }}"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.account_info.content",
      "visible_if": "{{ section.settings.enable_account_btn == true }}"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "t:sections.header.blocks.mega_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "mega_menu_trigger",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_trigger.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_1.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_1",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_1",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_1",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_1",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_1",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_1",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_1",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_1",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_2.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_2",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_2",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_2",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_2",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_2",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_2",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_2",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_2",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_3.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_3",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_3",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_3",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_3",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_3",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_3",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_3",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_3",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_4.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_4",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_4",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_4",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_4",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_4",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_4",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_4",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_4",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_5.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_5",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_5",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_5",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_5",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_5",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_5",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_5",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_5",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_6.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_6",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_6",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_6",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_6",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_6",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_6",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_6",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_6",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_7.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_7",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_7",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_7",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_7",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_7",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_7",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_7",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_7",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_8.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab_8",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_enable_tab.label"
        },
        {
          "type": "text",
          "id": "tab_heading_8",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.label",
          "default": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.default_8",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_heading.info"
        },
        {
          "type": "url",
          "id": "tab_link_8",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_link.label"
        },
        {
          "type": "select",
          "id": "tab_type_8",
          "options": [
            {
              "value": "products",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__1.label"
            },
            {
              "value": "menu",
              "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.options__2.label"
            }
          ],
          "default": "products",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_type.label"
        },
        {
          "type": "product_list",
          "id": "tab_product_list_8",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_product_list.label",
          "limit": 8
        },
        {
          "type": "text",
          "id": "products_label_8",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_products_label.info"
        },
        {
          "type": "link_list",
          "id": "tab_menu_8",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_tab_menu.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_image.content"
        },
        {
          "type": "select",
          "id": "product_image_ratio",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.card.image_ratio_2.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.card.image_ratio_2.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.card.image_ratio_2.options__3.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.all.card.image_ratio_2.label"
        },
        {
          "type": "select",
          "id": "product_image_fit",
          "label": "t:sections.all.card.image_fit.label",
          "options": [
            {
              "value": "contain",
              "label": "t:sections.all.card.image_fit.options__1.label"
            },
            {
              "value": "cover",
              "label": "t:sections.all.card.image_fit.options__2.label"
            }
          ],
          "default": "cover"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_products.content"
        },
        {
          "type": "checkbox",
          "id": "product_show_secondary_image",
          "default": false,
          "label": "t:sections.all.card.show_secondary_image.label",
          "info": "t:sections.all.card.show_secondary_image.info"
        },
        {
          "type": "checkbox",
          "id": "product_show_vendor",
          "default": false,
          "label": "t:sections.all.card.show_vendor.label"
        },
        {
          "type": "checkbox",
          "id": "product_show_desc",
          "default": false,
          "label": "t:sections.all.card.show_desc.label"
        },
        {
          "type": "select",
          "id": "product_heading_tag",
          "label": "t:sections.products-tabs.settings.heading_tag.label",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "div",
              "label": "div"
            },
            {
              "value": "p",
              "label": "p"
            },
            {
              "value": "span",
              "label": "span"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.mega_menu_header_links.content"
        },
        {
          "type": "link_list",
          "id": "mega_menu_additional_submenu",
          "label": "t:sections.header.blocks.mega_menu.settings.mega_menu_additional_submenu.label",
          "info": "t:sections.header.blocks.mega_menu.settings.mega_menu_additional_submenu.info"
        }
      ]
    },
    {
      "type": "desktop_burger",
      "name": "t:sections.header.blocks.desktop_burger.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "burger_enable_social",
          "default": true,
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_enable_social.label"
        },
        {
          "type": "link_list",
          "id": "burger_additional_links",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_additional_links.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_additional_links.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.desktop_burger.settings.burger_header_1.content"
        },
        {
          "type": "checkbox",
          "id": "burger_enable_card_1",
          "default": true,
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_enable_card.label"
        },
        {
          "type": "select",
          "id": "burger_card_type_1",
          "options": [
            {
              "value": "link",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__1.label"
            },
            {
              "value": "media",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__2.label"
            }
          ],
          "default": "link",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.label"
        },
        {
          "type": "color_scheme",
          "id": "burger_card_color_scheme_1",
          "default": "background-2",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "text",
          "id": "burger_card_heading_1",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.default_1"
        },
        {
          "type": "select",
          "id": "burger_card_heading_size_1",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.label"
        },
        {
          "type": "textarea",
          "id": "burger_card_description_1",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_description.label"
        },
        {
          "type": "url",
          "id": "burger_card_link_1",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_link.label"
        },
        {
          "type": "image_picker",
          "id": "burger_card_image_1",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "range",
          "id": "burger_card_overlay_opacity_1",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "text",
          "id": "burger_button_label_1",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.default",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.desktop_burger.settings.burger_header_2.content"
        },
        {
          "type": "checkbox",
          "id": "burger_enable_card_2",
          "default": true,
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_enable_card.label"
        },
        {
          "type": "select",
          "id": "burger_card_type_2",
          "options": [
            {
              "value": "link",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__1.label"
            },
            {
              "value": "media",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__2.label"
            }
          ],
          "default": "link",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.label"
        },
        {
          "type": "color_scheme",
          "id": "burger_card_color_scheme_2",
          "default": "background-2",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "text",
          "id": "burger_card_heading_2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.default_2"
        },
        {
          "type": "select",
          "id": "burger_card_heading_size_2",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.label"
        },
        {
          "type": "textarea",
          "id": "burger_card_description_2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_description.label"
        },
        {
          "type": "url",
          "id": "burger_card_link_2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_link.label"
        },
        {
          "type": "image_picker",
          "id": "burger_card_image_2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "range",
          "id": "burger_card_overlay_opacity_2",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "text",
          "id": "burger_button_label_2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.default",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.desktop_burger.settings.burger_header_3.content"
        },
        {
          "type": "checkbox",
          "id": "burger_enable_card_3",
          "default": true,
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_enable_card.label"
        },
        {
          "type": "select",
          "id": "burger_card_type_3",
          "options": [
            {
              "value": "link",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__1.label"
            },
            {
              "value": "media",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__2.label"
            }
          ],
          "default": "link",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.label"
        },
        {
          "type": "color_scheme",
          "id": "burger_card_color_scheme_3",
          "default": "background-2",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "text",
          "id": "burger_card_heading_3",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.default_3"
        },
        {
          "type": "select",
          "id": "burger_card_heading_size_3",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.label"
        },
        {
          "type": "textarea",
          "id": "burger_card_description_3",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_description.label"
        },
        {
          "type": "url",
          "id": "burger_card_link_3",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_link.label"
        },
        {
          "type": "image_picker",
          "id": "burger_card_image_3",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "range",
          "id": "burger_card_overlay_opacity_3",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "text",
          "id": "burger_button_label_3",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.default",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.desktop_burger.settings.burger_header_4.content"
        },
        {
          "type": "checkbox",
          "id": "burger_enable_card_4",
          "default": true,
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_enable_card.label"
        },
        {
          "type": "select",
          "id": "burger_card_type_4",
          "options": [
            {
              "value": "link",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__1.label"
            },
            {
              "value": "media",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.options__2.label"
            }
          ],
          "default": "media",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_type.label"
        },
        {
          "type": "color_scheme",
          "id": "burger_card_color_scheme_4",
          "default": "background-3",
          "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "text",
          "id": "burger_card_heading_4",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading.default_4"
        },
        {
          "type": "select",
          "id": "burger_card_heading_size_4",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.options__3.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_heading_size.label"
        },
        {
          "type": "textarea",
          "id": "burger_card_description_4",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_description.label"
        },
        {
          "type": "url",
          "id": "burger_card_link_4",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_link.label"
        },
        {
          "type": "image_picker",
          "id": "burger_card_image_4",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "range",
          "id": "burger_card_overlay_opacity_4",
          "default": 20,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.all.overlay_opacity.label",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_card_image.info"
        },
        {
          "type": "text",
          "id": "burger_button_label_4",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.label",
          "default": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.default",
          "info": "t:sections.header.blocks.desktop_burger.settings.burger_button_label.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.desktop_burger.settings.burger_header_5.content"
        },
        {
          "type": "select",
          "id": "burger_card_ratio",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_ratio.options__3.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.header.blocks.desktop_burger.settings.burger_card_ratio.label"
        }
      ]
    },
    {
      "type": "mega_menu_with_cards",
      "name": "t:sections.header.blocks.mega_menu_with_cards.name",
      "settings": [
         {
          "type": "text",
          "id": "mega_menu_with_cards_trigger",
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_trigger.label",
          "info": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_trigger.info"
        },
        {
          "type": "select",
          "id": "mega_menu_with_cards_image_ratio",
          "options": [
            {
              "value": "landscape",
              "label": "t:sections.all.card.image_ratio_2.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.card.image_ratio_2.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.card.image_ratio_2.options__3.label"
            },
            {
              "value": "adapt",
              "label": "t:sections.all.card.image_ratio_2.options__4.label"
            }
          ],
          "default": "landscape",
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.images_ratio.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_1.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_1",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_1",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_1",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_1",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_2.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_2",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_2",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_2",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_2",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_3.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_3",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_3",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_3",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_3",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_4.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_4",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_4",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_4",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_4",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_5.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_5",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_5",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_5",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_5",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_6.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_6",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_6",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_6",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_6",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_7.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_7",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_7",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_7",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_7",
          "label": "t:sections.all.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu_with_cards.settings.mega_menu_with_cards_card_8.content"
        },
        {
          "type": "checkbox",
          "id": "enable_card_8",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu_with_cards.settings.enable_card.label"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_with_cards_card_image_8",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "mega_menu_with_cards_card_title_8",
          "label": "t:sections.all.title.label"
        },
        {
          "type": "url",
          "id": "mega_menu_with_cards_card_link_8",
          "label": "t:sections.all.link.label"
        }
      ]
    },
    {
      "type": "follow",
      "name": "t:sections.header.blocks.follow.name",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "background-2",
           "label": "t:sections.all.color_scheme.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.header.blocks.follow.settings.heading.default",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "richtext",
          "id": "info",
          "default": "t:sections.header.blocks.follow.settings.info.default",
          "label": "t:sections.header.blocks.follow.settings.info.label"
        },
        {
          "type": "checkbox",
          "id": "enable_subscribe",
          "default": true,
          "label": "t:sections.header.blocks.follow.settings.form"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.header.blocks.follow.settings.social"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "tertiary",
              "label": "t:sections.all.button.button_style.options__3.label"
            }
          ],
          "default": "secondary",
          "label": "t:sections.all.button.button_style.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "t:sections.all.overlay_opacity.label",
          "default": 0.3,
          "info": "t:sections.header.blocks.follow.info"
        }
      ]
    }
  ],
  "default": {}
}
{% endschema %}
