{{ 'template-list-collections.css' | asset_url | stylesheet_tag }}
{{ 'component-collection-card.css' | asset_url | stylesheet_tag }}

{%- if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

<div class="container section-{{ section.id }}-padding">
  {%- if section.settings.title != blank -%}
    <div class="page-header titles titles--center">
      {% assign heading_tag = section.settings.heading_tag %}
      
      <{{ heading_tag }} class="h2">
        {{- section.settings.title | escape -}}
      </{{ heading_tag }}>
    </div>
  {%- endif -%}

  {%- if section.settings.description != blank -%}
    <div class="collections-list__description description description--center body-small">
      {{- section.settings.description -}}
    </div>
  {%- endif -%}

  {%- liquid
    case section.settings.sort
      when 'products_high', 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date', 'date_reversed'
        assign collections = collections | sort: 'published_at'
      when 'alphabetical', 'alphabetical_reversed'
        assign collections = collections | sort: 'title'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif

    assign paginate_by = section.settings.collections_per_row | times: 6
  -%}

  {%- paginate collections by paginate_by -%}
    {%- if paginate.current_page == 1 -%}
      {% assign items_first = 1 %}
    {%- else -%}
      {% assign items_first = paginate.current_page | times: paginate_by | minus: paginate_by | plus: 1 %}
    {%- endif -%}
    {% assign items_last = paginate.current_page | times: paginate_by %}

    <ul
      class="collections-grid collections-grid--{{ section.settings.collections_per_row }} collections-grid--{{ section.settings.columns_mobile }}-mobile load-more-grid content"
      role="list"
    >
      {%- for collection in collections -%}
        {%- if forloop.index >= items_first and forloop.index <= items_last -%}
          <li>
            {% render 'collection-card',
              card_collection: collection,
              show_desc: section.settings.show_desc,
              image_ratio: section.settings.image_ratio,
              image_fit: section.settings.image_fit,
              columns: section.settings.collections_per_row
            %}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if settings.pagination_type == 'load_more' -%}
        {% render 'load-more',
          next_url: paginate.next.url,
          count_pages: paginate.pages,
          current_page: paginate.current_page
        %}
        <div class="js-hidden">
          {% render 'pagination', paginate: paginate %}
        </div>
      {%- elsif settings.pagination_type == 'infinite_scroll' -%}
        {% render 'infinite-scroll',
          next_url: paginate.next.url,
          count_pages: paginate.pages,
          current_page: paginate.current_page
        %}
        <div class="js-hidden">
          {% render 'pagination', paginate: paginate %}
        </div>
      {% else %}
        {% render 'pagination', paginate: paginate %}
      {%- endif -%}
    {%- endif -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "tag": "section",
  "class": "section-list-collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "t:sections.main-list-collections.settings.title.default"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading_tag.label",
      "default": "h1",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "p",
          "label": "p"
        },
        {
          "value": "span",
          "label": "span"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.main-list-collections.settings.description.label"
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.collections_per_row.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.main-list-collections.settings.show_desc.label"
    },
    {
      "type": "checkbox",
      "id": "alt_desc",
      "label": "t:sections.main-list-collections.settings.alt_desc.label",
      "info": "t:sections.main-list-collections.settings.alt_desc.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "xl",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ]
}
{% endschema %}
