{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
<script src="{{ 'products-grid.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}

  .products-grid .products-grid {
    grid-column: span 2;
    position: relative;
  }

  .products-grid .products-grid .loading-overlay {
    inset: 0;
    z-index: 6;
    display: none;
    width: 100%;
    padding: 0 5rem;
    background-color: rgba(var(--color-background), 0.7);
  }

  .js .products-grid--loading .products-grid > .loading-overlay {
    display: block;
  }

  .js .products-grid--loading .products-grid > .loading-overlay .loading-overlay__spinner {
    top: 10rem;
  }

  .js .products-grid--loading .collection-product-list {
    transition: opacity var(--duration-default) ease-in-out;
    opacity: 0;
  }
{%- endstyle -%}

{% liquid
  assign grid_products = collections.all.products
  assign collection_handle = 'all'
  assign base_url = routes.all_products_collection_url
  assign total_shop_products = shop.products_count | default: 0
  assign sort_type = section.settings.sort

  if section.settings.collection != blank
    assign grid_products = section.settings.collection.products
    assign collection_handle = section.settings.collection.handle
    assign base_url = routes.collections_url | append: '/' | append: collection_handle
    assign total_shop_products = section.settings.collection.all_products_count
  endif

  if section.settings.product_list != blank
    assign grid_products = section.settings.product_list
    assign collection_handle = 'all'
    assign base_url = 'none'
    assign total_shop_products = section.settings.product_list.size
  endif

  assign sort = section.settings.sort
 
  case section.settings.sort
    when 'alphabetical'
      assign sort ='title-ascending'
    when 'alphabetical_reversed'
      assign sort ='title-descending'
    when 'products_high'
      assign sort ='price-descending'
    when 'products_low'
      assign sort ='price-ascending'
    when 'date'
      assign sort ='created-ascending'
    when 'date_reversed'
      assign sort ='created-descending'
    else
      assign sort = 'manual'
	endcase

	case sort
		when 'title-ascending', 'title-descending'
			assign grid_products = grid_products | sort: 'title'
		when 'price-descending', 'price-ascending'
			assign grid_products = grid_products | sort: 'price_min'
		when 'created-ascending', 'created-descending'
			assign grid_products = grid_products | sort: 'published_at'
    when 'manual'
      assign grid_products = grid_products | sort: 'manual'
    when 'best-selling'
      assign grid_products = grid_products | sort: 'manual'
  endcase

	if sort == 'price-descending' or sort == 'created-descending' or sort == 'title-descending'
		assign grid_products = grid_products | reverse
	endif

	assign is_dynamic_loading = false
  if total_shop_products > 50
    assign is_dynamic_loading = true
  elsif sort == 'manual' or sort == 'best-selling'
    if base_url != 'none'
      assign is_dynamic_loading = true
    endif
  endif.

	if is_dynamic_loading and base_url != 'none'
    assign sort_params = '?sort_by=' | append: sort
    # Using Section Rendering API https://shopify.dev/docs/api/ajax/section-rendering
    assign collection_url = base_url | append: sort_params | append: '&section_id=' | append: section.id
    assign grid_products = collection.products
  else
    assign collection_url = 'none'
  endif
%}

<div
  class="products-grid section-{{ section.id }}-padding{% if is_dynamic_loading %} products-grid--loading{% if collection.products.size > 0 %} products-grid--search-perfomed{% endif %}{% endif %}"
	data-collection-url="{{ collection_url }}"
	data-is-dynamic-load="{{ is_dynamic_loading }}"
>
  <div class="container">
    <div class="section-grid">
      {%- if section.settings.subheading != blank
        or section.settings.heading != blank
        or section.settings.text != blank
      -%}
        <div class="section-top">
          {% render 'heading-group', section: section, class: 'products-grid' %}
        </div>
      {% endif %}
      {%- if section.settings.button_show -%}
        {% render 'button',
          btn_link: section.settings.button_link,
          btn_label: section.settings.button_label,
          btn_style: section.settings.button_style,
          btn_arrow: section.settings.button_arrow,
          class: 'products-grid__button'
        %}
      {%- endif -%}

      <div class="products-grid full-width content">
        <div class="loading-overlay no-js-hidden">
          <div class="loading-overlay__spinner">
            {% render 'icon-loading' %}
          </div>
        </div>

        <ul
          id="products-grid"
          data-id="{{ section.id }}"
          class="
            collection-product-list
            collection-product-list--{{ section.settings.columns }}-items
            collection-product-list--{{ section.settings.columns_mobile }}-mobile
            products--{{ section.settings.columns_mobile }}-mobile
            list-unstyled
          "
        >
          {% if is_dynamic_loading == false or grid_products.size > 0 %}
            {%- for product in grid_products limit: section.settings.products_per_page -%}
              <li class="collection-product-card {% if settings.quickview_hover %}quickview--hover{% endif %}">
                {% render 'product-card',
                  product_card_product: product,
                  media_ratio: section.settings.image_ratio,
                  media_fit: section.settings.image_fit,
                  show_secondary_image: section.settings.show_secondary_image,
                  heading_tag: section.settings.product_heading_tag,
                  show_vendor: section.settings.show_vendor,
                  show_desc: section.settings.show_desc,
                  columns: section.settings.columns,
                  section_id: section.id,
                  add_id: forloop.index
                %}
              </li>
            {%- endfor -%}
          {% else %}
            {%- for i in (1..4) -%}
              <li class="popular-products__item_placeholder collection-product-card">
                {% assign product_number = forloop.index | modulo: 4 %}
                {% render 'product-card-placeholder',
                  media_ratio: section.settings.image_ratio,
                  show_vendor: section.settings.show_vendor,
                  heading_tag: section.settings.product_heading_tag,
                  product_number: product_number
                %}
              </li>
            {%- endfor -%}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.products-grid.name",
  "tag": "section",
  "class": "products-grid-section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.products-grid.settings.collection.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.products-grid.settings.product_list.label",
      "info": "t:sections.products-grid.settings.product_list.info",
      "limit": 50
    },
    {
      "type": "paragraph",
      "content": "t:sections.products-grid.settings.text_about_products.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.products-grid.settings.text_about_dynamic.content"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 12,
      "label": "t:sections.products-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.products-grid.settings.columns.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.products-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.products-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.products-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
		{
			"type": "select",
			"id": "sort",
			"options": [
				{
          "value": "alphabetical",
          "label": "t:sections.products-grid.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.products-grid.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.products-grid.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.products-grid.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.products-grid.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.products-grid.settings.sort.options__6.label"
        },
        {
          "value": "manual",
          "label": "t:sections.products-grid.settings.sort.options__7.label"
        },
        {
          "value": "best-selling",
          "label": "t:sections.products-grid.settings.sort.options__8.label"
        }
			],
			"default": "alphabetical",
			"label": "t:sections.products-grid.settings.sort.label",
			"info": "t:sections.products-grid.settings.sort.info"
		},
    {
      "type": "header",
      "content": "t:sections.products-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.all.card.image_ratio_2.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card.image_ratio_2.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card.image_ratio_2.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.all.card.image_ratio_2.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.card.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.products-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.products-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.products-grid.settings.show_desc.label",
      "info": "t:sections.products-grid.settings.show_desc.info"
    },
    {
      "type": "select",
      "id": "product_heading_tag",
      "label": "t:sections.all.heading_tag.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "p",
          "label": "p"
        },
        {
          "value": "span",
          "label": "span"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.products-grid.settings.header__4.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.products-grid.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading_tag.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "div"
        },
        {
          "value": "p",
          "label": "p"
        },
        {
          "value": "span",
          "label": "span"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "button_show",
      "default": true,
      "label": "t:sections.all.button.button_show.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.products-grid.settings.button_label.default"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.button.button_style.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label",
      "info": "t:sections.products-grid.settings.button_link.info"
    },
    {
      "type": "checkbox",
      "id": "button_arrow",
      "default": true,
      "label": "t:sections.all.button.button_arrow.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "xl",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.products-grid.name"
    }
  ]
}
{% endschema %}
